.right-arrow {
  display: inline-block;
  width: 3.2rem;
  height: 2rem;
  background: url(../images/sprite.svg) no-repeat -21.1rem -0.73rem;
  &--disabled {
    background: url(../images/sprite.svg) no-repeat -5rem -0.73rem;
  }
  &--disabled-light {
    background: url(../images/sprite.svg) no-repeat -0.8rem -0.73rem;
  }
  &--primary {
    background: url(../images/sprite.svg) no-repeat -13rem -0.73rem;
  }
  &--primary-dark {
    background: url(../images/sprite.svg) no-repeat -8.9rem -0.73rem;
  }
}

.btn-primary {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 1.8rem;
  display: inline-block;
  position: relative;
  background-color: $primary;
  color: $white;
  padding: 2rem 2.4rem;
  border: none;
  text-decoration: none;
  &__arrow {
    margin-left: 2rem;
  }
  &__text {
    position: relative;
    display: flex;
    align-items: center;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $primary-dark;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover {
    &::before {
      transition: 0.5s;
      transform: scaleX(1);
    }
  }
  &--disabled {
    background-color: $disabled-light;
    cursor: default;
    &::before {
      content: none;
    }
  }
}

.btn-secondary {
  position: relative;
  display: inline-block;
  background-color: $primary-dark;
  color: $white;
  font-size: 1.8rem;
  padding: 2rem 2.4rem;
  border: 0.2rem solid $white;
  text-decoration: none;
  &__arrow {
    margin-left: 2rem;
  }
  &__text {
    position: relative;
    display: flex;
    align-items: center;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover:not(.btn-secondary--disabled) {
    .right-arrow {
      background: url(../images/sprite.svg) no-repeat -8.9rem -0.73rem;
    }
    color: $primary-dark;
    &::before {
      transition: 0.5s;
      transform: scaleX(1);
    }
  }
  &--disabled {
    border: 0.2rem solid $gray-light;
    color: $gray-light;
    cursor: default;
    &::before {
      content: none;
    }
  }
}

.link-primary {
  font-size: 1.8rem;
  display: inline-block;
  color: $primary-dark;
  text-decoration: none;
  font-size: 1.8rem;
  &__text {
    display: flex;
    align-items: center;
  }
  &__arrow {
    margin-left: 1rem;
    transition: 0.2s;
  }
  &:hover:not(.link-primary--disabled) {
    .link-primary__arrow {
      transform: translateX(-0.5rem);
    }
  }
  &--disabled {
    color: $disabled;
    cursor: default;
  }
}

.link-secondary {
  display: inline-block;
  font-size: 1.8rem;
  color: $white;
  text-decoration: none;
  &__text {
    display: flex;
    align-items: center;
  }
  &__arrow {
    margin-left: 1rem;
    transition: 0.2s;
  }
  &:hover:not(.link-secondary--disabled) {
    .link-secondary__arrow {
      transform: translateX(-0.5rem);
    }
  }
  &--disabled {
    color: $gray-light;
    cursor: default;
  }
}

.btn-rounded {
  position: relative;
  display: inline-block;
  width: 6.8rem;
  height: 6.8rem;
  background-color: $primary;
  border-radius: 50%;
  transition: 0.2s;
  text-decoration: none;
  color: $white;
  &:hover:not(.btn-rounded--disabled) {
    background-color: $primary-dark;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--disabled {
    background-color: $disabled-light;
    cursor: default;
  }
}

.btn-rounded-secondary {
  position: relative;
  display: inline-block;
  width: 6.8rem;
  height: 6.8rem;
  background-color: $disabled-light;
  border-radius: 50%;
  transition: 0.2s;
  text-decoration: none;
  &__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover:not(.btn-rounded-secondary--disabled) {
    .btn-rounded-secondary__arrow {
      background: url(../images/sprite.svg) no-repeat -13rem -0.73rem;
    }
  }
  &--disabled {
    background-color: $disabled-light;
    cursor: default;
  }
}

.pagination {
  &__button {
    display: inline-block;
    vertical-align: middle;
    width: 6.8rem;
    height: 6.8rem;
    background-color: transparent;
    border: 1px solid $disabled-light;
    color: $gray-light;
    transition: 0.2s;
    font-size: 2.1rem;
    margin: 0.4rem;
    cursor: pointer;
    &:hover:not(.pagination__button--disabled):not(.pagination__button--selected):not(.pagination__button--ellipsis) {
      border: 1px solid $primary;
      color: $primary;
    }
    &--disabled {
      filter: grayscale(1);
      border: 1px solid $gray;
      opacity: 0.2;
      cursor: default;
    }
    &--selected {
      border: 1px solid $primary;
      background-color: $primary;
      color: $white;
      cursor: default;
    }
    &--ellipsis {
      border: none;
      &:hover {
        .pagination__icon--ellipsis {
          background: url(../images/sprite.svg) no-repeat -0.3rem -3.15rem;
        }
      }
    }
  }
  &__icon {
    display: inline-block;
    height: 2.1rem;
    &--first {
      width: 2.4rem;
      background: url(../images/sprite.svg) no-repeat -0.8rem -24.3rem;
    }
    &--prev {
      width: 1.2rem;
      background: url(../images/sprite.svg) no-repeat -0.8rem -24.3rem;
    }
    &--next {
      width: 1.2rem;
      background: url(../images/sprite.svg) no-repeat -0.8rem -27.15rem;
    }
    &--last {
      width: 2.4rem;
      background: url(../images/sprite.svg) no-repeat -0.8rem -27.15rem;
    }
    &--ellipsis {
      width: 2.4rem;
      background: url(../images/sprite.svg) no-repeat -3.6rem -3.15rem;
    }
  }
}

.page-anchor {
  margin: 2rem;
  border: 0.1rem solid $disabled;
  display: inline-block;
  font-size: 1.6rem;
  color: $gray;
  &__link {
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
    color: $gray;
    &--active {
      background-color: $secondary-dark;
      color: $white;
    }
    &:hover:not(.page-anchor__link--active) {
      background-color: $primary-tint;
    }
    &--products {
      &.page-anchor__link--active {
        .page-anchor__icon--products {
          background: url(../images/sprite.svg) no-repeat -0.7rem -19.9rem;
        }
      }
    }
    &--resources {
      &.page-anchor__link--active {
        .page-anchor__icon--resources {
          background: url(../images/sprite.svg) no-repeat -0.7rem -6.3rem;
        }
      }
    }
    &--contacts {
      &.page-anchor__link--active {
        .page-anchor__icon--contacts {
          background: url(../images/sprite.svg) no-repeat -0.7rem -11.1rem;
        }
      }
    }
    &--portal {
      &.page-anchor__link--active {
        .page-anchor__icon--portal {
          background: url(../images/sprite.svg) no-repeat -0.7rem -15.5rem;
        }
      }
    }
  }
  &__icon {
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    &--products {
      // width: 3rem;
      // height: 3rem;
      background: url(../images/sprite.svg) no-repeat -5.2rem -19.9rem;
    }
    &--resources {
      // width: 3rem;
      // height: 3.5rem;
      background: url(../images/sprite.svg) no-repeat -3.25em -6.25rem;
    }
    &--contacts {
      // width: 3rem;
      // height: 3rem;
      background: url(../images/sprite.svg) no-repeat -5.2rem -11.1rem;
    }
    &--portal {
      // width: 3.4rem;
      // height: 3.4rem;
      background: url(../images/sprite.svg) no-repeat -5.2rem -15.5rem;
    }
  }
}

input[type="text"] {
  border: 2px solid #afbdcf;
  border-radius: 5px;
  height: 47px;
  width: 300px;
  color: #000000;
  font-size: 14px;
  padding-left: 20px;
  box-shadow: none;
}

input:focus + label,
input:valid + label {
  font-size: 12px;
  color: #afbdcf;
  top: -5px;
  left: 10px;
  background: #ffffff;
  padding: 0px 5px 0px 5px;
}

.input_wrap {
  width: auto;
  height: auto;
  position: relative;
}

.input_wrap label {
  font-family: arial;
  font-size: 16px;
  color: #afbdcf;
  padding: 14px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
}

input[type="text"]:focus {
  outline: none;
}
