// .right-arrow {
//   display: inline-block;
//   width: 3.2rem;
//   height: 2rem;
//   &--white {
//     background: url(../images/sprite.svg) no-repeat -20.8rem -0.8rem;
//   }
//   &--disabled {
//     background: url(../images/sprite.svg) no-repeat -0.8rem -0.73rem;
//   }
//   &--primary {
//     background: url(../images/sprite.svg) no-repeat -13rem -0.73rem;
//   }
//   &--primary-dark {
//     background: url(../images/sprite.svg) no-repeat -8.8rem -0.73rem;
//   }
//   // &--disabled {
//   //   background: url(../images/sprite.svg) no-repeat -5rem -0.73rem;
//   // }
//   &--center {
//     position: absolute;
//   }
// }

.btn-primary {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 1.8rem;
  display: inline-block;
  position: relative;
  background-color: $primary;
  color: $white;
  padding: 2rem 2.4rem;
  border: none;
  padding-right: 7rem;
  span {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $primary-dark;
    transform: scaleX(0);
    transform-origin: left;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -20.8rem -0.8rem;
  }
  &:hover {
    &::before {
      transition: 0.5s;
      transform: scaleX(1);
    }
  }
}

.btn-disabled {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 1.8rem;
  display: inline-block;
  position: relative;
  background-color: $gray-tint;
  color: $white;
  padding: 2rem 2.4rem;
  border: none;
  padding-right: 7rem;
  pointer-events: none;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -20.8rem -0.8rem;
  }
}

.btn-disabled-transparent {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 1.8rem;
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: $gray-light;
  padding: 2rem 2.4rem;
  border: 0.2rem solid $gray-light;
  padding-right: 7rem;
  pointer-events: none;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -5rem -0.73rem;
  }
}

.btn-primary-dark {
  position: relative;
  display: inline-block;
  background-color: $primary-dark;
  color: $white;
  font-size: 1.8rem;
  padding: 2rem 2.4rem;
  border: 0.2rem solid $white;
  padding-right: 7rem;
  span {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    transform: scaleX(0);
    transform-origin: left;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -20.8rem -0.8rem;
  }
  &:hover {
    color: $primary-dark;
    &::before {
      transition: 0.4s;
      transform: scaleX(1);
    }
    &::after {
      background: url(../images/sprite.svg) no-repeat -8.9rem -0.73rem;
    }
  }
}

// &--disabled {
//   border: 0.2rem solid $gray-light;
//   color: $gray-light;
//   cursor: default;
//   &::before {
//     content: none;
//   }
// }

.btn-rounded-primary {
  position: relative;
  display: inline-block;
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 50%;
  transition: 0.2s;
  background-color: $primary;
  padding: 0;
  border: none;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -20.8rem -0.8rem;
  }
  &:hover {
    background-color: $primary-dark;
  }
}

.btn-rounded-disabled {
  position: relative;
  display: inline-block;
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 50%;
  transition: 0.2s;
  background-color: $disabled;
  padding: 0;
  border: none;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -0.8rem -0.73rem;
  }
}

.btn-rounded-white {
  position: relative;
  display: inline-block;
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 50%;
  transition: 0.2s;
  background-color: $white;
  padding: 0;
  border: none;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -8.8rem -0.73rem;
  }
  &:hover {
    &:before {
      background: url(../images/sprite.svg) no-repeat -13rem -0.73rem;
    }
  }
}

.download-icon {
  display: inline-block;
  width: 2rem;
  height: 2.7rem;
  background: url(../images/sprite.svg) no-repeat -8rem -32rem;
}

.link-primary-dark {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  color: $primary-dark;
  font-size: 1.8rem;
  padding-right: 7rem;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -8.8rem -0.73rem;
    transition: 0.2s;
  }
  &:hover {
    &:after {
      right: 3rem;
    }
  }
}

.link-disabled {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  color: $disabled;
  padding-right: 7rem;
  pointer-events: none;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -0.8rem -0.73rem;
    transition: 0.2s;
  }
}

.link-white {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  color: $white;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    width: 3.2rem;
    height: 2rem;
    background: url(../images/sprite.svg) no-repeat -0.8rem -0.73rem;
    transition: 0.2s;
  }
}

.btn-rounded-secondary {
  position: relative;
  display: inline-block;
  width: 6.8rem;
  height: 6.8rem;
  background-color: $primary;
  border-radius: 50%;
  transition: 0.2s;
  color: $white;
  &:hover:not(.btn-rounded--disabled) {
    background-color: $primary-dark;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--disabled {
    background-color: $gray-tint;
    cursor: default;
  }
}

// .btn-rounded-white {
//   position: relative;
//   display: inline-block;
//   width: 6.8rem;
//   height: 6.8rem;
//   background-color: $gray-tint;
//   border-radius: 50%;
//   transition: 0.2s;
//   border-color: transparent;
//   cursor: pointer;
//   &__arrow {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
//   &:hover:not(.btn-rounded-white--disabled) {
//     .btn-rounded-secondary__arrow {
//       background: url(../images/sprite.svg) no-repeat -12.8rem -0.73rem;
//     }
//   }
//   &--disabled {
//     background-color: $gray-tint;
//     cursor: default;
//   }
// }

.pagination {
  &__button {
    display: inline-block;
    vertical-align: middle;
    width: 6.8rem;
    height: 6.8rem;
    background-color: transparent;
    border: 1px solid $gray-tint;
    color: $gray-light;
    transition: 0.2s;
    font-size: 2.1rem;
    margin: 0.4rem;
    cursor: pointer;
    &:hover:not(.pagination__button--disabled):not(.pagination__button--selected):not(.pagination__button--ellipsis) {
      border: 1px solid $primary;
      color: $primary;
    }
    &--disabled {
      filter: grayscale(1);
      border: 1px solid $gray;
      opacity: 0.2;
      cursor: default;
    }
    &--selected {
      border: 1px solid $primary;
      background-color: $primary;
      color: $white;
      cursor: default;
    }
    &--ellipsis {
      border: none;
      &:hover {
        .pagination__icon--ellipsis {
          background: url(../images/sprite.svg) no-repeat -0.3rem -3.15rem;
        }
      }
    }
  }
  &__icon {
    display: inline-block;
    height: 2.1rem;
    &--first {
      width: 2.4rem;
      background: url(../images/sprite.svg) no-repeat -0.8rem -24.3rem;
    }
    &--prev {
      width: 1.2rem;
      background: url(../images/sprite.svg) no-repeat -0.8rem -24.3rem;
    }
    &--next {
      width: 1.2rem;
      background: url(../images/sprite.svg) no-repeat -0.8rem -27.15rem;
    }
    &--last {
      width: 2.4rem;
      background: url(../images/sprite.svg) no-repeat -0.8rem -27.15rem;
    }
    &--ellipsis {
      width: 2.4rem;
      background: url(../images/sprite.svg) no-repeat -3.6rem -3.15rem;
    }
  }
}

.page-anchor {
  margin: 2rem;
  border: 0.1rem solid $gray-light;
  display: inline-block;
  font-size: 1.6rem;
  color: $gray;
  &__link {
    display: inline-block;
    padding: 2rem;
    color: $gray;
    &--active {
      background-color: $secondary-dark;
      color: $white;
    }
    &:hover:not(.page-anchor__link--active) {
      background-color: $primary-tint;
    }
    &--products {
      &.page-anchor__link--active {
        .page-anchor__icon--products {
          background: url(../images/sprite.svg) no-repeat -0.7rem -19.9rem;
        }
      }
    }
    &--resources {
      &.page-anchor__link--active {
        .page-anchor__icon--resources {
          background: url(../images/sprite.svg) no-repeat -0.7rem -6.3rem;
        }
      }
    }
    &--contacts {
      &.page-anchor__link--active {
        .page-anchor__icon--contacts {
          background: url(../images/sprite.svg) no-repeat -0.7rem -11.1rem;
        }
      }
    }
    &--portal {
      &.page-anchor__link--active {
        .page-anchor__icon--portal {
          background: url(../images/sprite.svg) no-repeat -0.7rem -15.5rem;
        }
      }
    }
  }
  &__icon {
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    &--products {
      background: url(../images/sprite.svg) no-repeat -5.2rem -19.9rem;
    }
    &--resources {
      background: url(../images/sprite.svg) no-repeat -3.25em -6.25rem;
    }
    &--contacts {
      background: url(../images/sprite.svg) no-repeat -5.2rem -11.1rem;
    }
    &--portal {
      background: url(../images/sprite.svg) no-repeat -5.2rem -15.5rem;
    }
  }
}

.input-field {
  position: relative;
  display: inline-block;
  &__input {
    border: 0.1rem solid $gray-tint;
    color: $gray;
    border-radius: 0;
    padding: 2.4rem 2rem;
    width: 30rem;
    padding-left: 2rem;
    box-shadow: none;
    font-size: 1.6rem;
    &:focus {
      border: 0.1rem solid $primary;
      outline: none;
    }
    &:focus + .input-field__label,
    &:valid + .input-field__label {
      font-size: 1.4rem;
      top: 0;
      left: 1rem;
      background: $white;
      padding: 0 0.5rem 0 0.5rem;
    }
    &--error {
      border: 0.1rem solid $error;
      &:focus {
        border: 0.1rem solid $error;
        outline: none;
      }
    }
    &--disabled {
      border: 0.1rem solid $disabled;
      background-color: transparent;
    }
  }
  &__label {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    transition: 0.2s ease all;
    pointer-events: none;
    color: $gray-light;
    &--disabled {
      color: $disabled;
    }
  }
  &__error {
    position: absolute;
    top: 100%;
    left: 0rem;
    color: $error;
    margin-top: 0.8rem;
  }
}

// .select-field {
//   position: relative;
//   display: inline-block;
//   &:before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     right: 2rem;
//     width: 1.2rem;
//     height: 2.2rem;
//     transition: 0.2s;
//     background: url(../images/sprite.svg) no-repeat -20px -271px;
//     transform: translateY(-50%) rotate(90deg);
//   }
//   &:focus {
//     outline: none;
//     &:before {
//       content: "";
//       transform: translateY(-50%) rotate(-90deg);
//     }
//     &__select:focus {
//     }
//   }
//   &__select {
//     all: unset;
//     box-sizing: border-box;
//     width: 30rem;
//     border: 0.1rem solid $gray-tint;
//     font-size: 1.8rem;
//     padding: 2rem 2.4rem;
//     appearance: none;
//   }
// }

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select {
  &--disabled {
    .select-selected {
      border: 0.1rem solid $disabled;
      color: $disabled;
      pointer-events: none;
      cursor: default;
      &:after {
        content: "";
        background: url(../images/sprite.svg) no-repeat -39px -272px;
      }
    }
  }
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  // background-color: DodgerBlue;
  border: 1px solid $gray-tint;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 1.2rem;
    height: 2.2rem;
    transition: 0.2s;
    background: url(../images/sprite.svg) no-repeat -20px -271px;
    transform: translateY(-50%) rotate(90deg) scale(0.6);
  }
}

/* Style the arrow inside the select element: */
// .select-selected:after {
//   position: absolute;
//   content: "";
//   top: 14px;
//   right: 10px;
//   width: 0;
//   height: 0;
//   border: 6px solid transparent;
//   border-color: #fff transparent transparent transparent;
// }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active {
  border: 0.1rem solid $primary-light;
  border-bottom: 0;
}
.select-selected.select-arrow-active:after {
  // border-color: transparent transparent #fff transparent;
  // top: 7px;
  transform: translateY(-50%) rotate(-90deg) scale(0.6);
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  // color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: $white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 0.1rem solid $primary-light;
  border-top: 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: $primary-tint-dark;
}

.card {
  position: relative;
  display: inline-block;
  color: $white;
  padding: 2.4rem;
  width: 30rem;
  height: 42.2rem;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $primary-dark);
  }
  &:hover {
    box-shadow: 5px 6px 15px $gray-tint;
    .card__img {
      transform: scale(1.1);
    }
    .btn-rounded-secondary__arrow {
      background: url(../images/sprite.svg) no-repeat -12.8rem -0.73rem;
    }
  }
  &--product {
    padding: 5rem 2.4rem 3rem;
    background-color: $primary;
    flex-direction: column;
    justify-content: space-between;
    &:after {
      content: none;
    }
  }
  &--service {
    padding: 5rem 2.4rem 3rem;
    background-color: $primary-dark;
    flex-direction: column;
    justify-content: space-between;
    &:after {
      content: none;
    }
  }
  &--featured-article {
    width: 34.2rem;
    padding: 5rem 2.4rem 3rem;
    &:after {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    }
  }
  &--article {
    background: $secondary url("../images/article-card.svg") no-repeat center left;
    padding: 5rem 2.4rem 3rem;
    &:after {
      content: none;
    }
  }
  &--video {
    width: 34.2rem;
    padding: 5rem 2.4rem 3rem;
    &:after {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    }
  }
  &--feature-resource {
    padding: 5rem 2.4rem 3rem;
    background-color: $secondary;
    &:after {
      content: none;
    }
    .card__bottom {
      display: block;
    }
  }
  &--resource {
    padding: 5rem 2.4rem 3rem;
    background: $primary-dark;
    &:after {
      content: none;
    }
  }
  &--brochure {
    padding: 5rem 2.4rem 3rem;
    background: url("../images/brochure.png") no-repeat center/cover;
    &:after {
      content: none;
    }
    .card__content {
    }
  }
  &__last-flex {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
    transform: scale(1);
  }
  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__tag {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__btn {
    float: right;
  }
  &__time {
    position: relative;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1.9rem;
      height: 1.6rem;
      background: url(../images/sprite.svg) no-repeat -0.7rem -29.8rem;
    }
  }
}
