* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary, sans-serif;
  font-size: 100%;
  color: $gray;
  font-size: 1.6rem;
  line-height: 1.6;
}

a {
  display: inline-block;
  text-decoration: none;
}
