* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary, sans-serif;
  font-size: 100%;
  color: $gray;
  font-size: 1.6rem;
  line-height: 1.6;
  padding-top: 18rem;
}

a {
  display: inline-block;
  text-decoration: none;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include gt-md {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  &:first-of-type {
    padding-top: 0;
  }
}
