.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__icons {
    line-height: 1;
  }
  &__icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    background-image: url(../images/sprite.svg);
    background-repeat: no-repeat;
    &--search {
      background-position: -0.8rem -36rem;
    }
    &--hamburger {
      background-position: -0.65rem -40.6rem;
    }
    &--cross {
      background-position: -0.7rem -38.4rem;
    }
  }
}
