.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 2rem 0 3.5rem;
  background: $white;
  box-shadow: 0px 10px 20px -5px rgba(161, 161, 161, 0.1);
  border-bottom: 1px solid rgba(74, 73, 72, 0.1);
  @include gt-md {
    box-shadow: none;
  }
  &__mobile-logo {
    @include gt-md {
      display: none;
    }
  }
  &__head-one {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    @include gt-md {
      grid-template-columns: auto;
    }
  }
  &__head-two {
    display: none;
    @include gt-md {
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center;
    }
  }
  &__language {
    justify-self: end;
  }
  &__search-input {
    outline: none;
    border: none;
    box-shadow: 0 0 1rem #0000001a;
    border-radius: 5rem;
    padding: 1.5rem;
    text-align: center;
  }
  &__navigation {
    position: absolute;
    background: $white;
    width: 100%;
    top: 100%;
    left: 100%;
    height: 100vh;
    transition: 0.2s;
    z-index: -1;
    &--open {
      left: 0;
    }
    @include gt-md {
      position: static;
      height: auto;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      margin-bottom: 3rem;
    }
  }
  &__primary-nav {
    margin-left: -1.5rem;
    @include gt-md {
      display: flex;
    }
  }
  &__secondary-nav {
    margin-right: -1.5rem;
    @include gt-md {
      display: flex;
    }
  }
  &__primary-item {
    font-family: $font-secondary;
    color: inherit;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    font-size: 1.8rem;
    @include gt-md {
      font-size: 1.6rem;
    }
    &--active {
      border-bottom: 2px solid $primary-light;
    }
    &:hover {
      border-bottom: 2px solid $primary-light;
    }
  }
  &__secondary-item {
    font-family: $font-alternate;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    color: $primary;
    font-size: 1.8rem;
    @include gt-md {
      font-size: 1.6rem;
    }
    @include gt-md {
      font-family: $font-secondary;
    }
  }
  &__mega-menu {
    // display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: $white;
  }
  &__mega-content {
    display: grid;
    grid-template-columns: 30% auto;
  }
  &__page-name {
    margin-bottom: 2rem;
  }
  &__ul-col2 {
    columns: 2;
  }
  &__page-desc {
    margin-bottom: 2rem;
  }
  &__page-link {
    color: inherit;
    padding: 1.5rem 0;
  }
  &__page-list {
    text-transform: uppercase;
    color: $primary;
    font-family: $font-alternate2;
  }
  &__icons {
    line-height: 1;
    justify-self: end;
    @include gt-md {
      width: 100%;
    }
  }
  &__icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 0.8rem;
    border: none;
    background-color: transparent;
    background-image: url(../images/sprite.svg);
    background-repeat: no-repeat;
    &--search {
      background-position: -0.8rem -36rem;
    }
    &--hamburger {
      background-position: -0.65rem -40.6rem;
      &--cross {
        background-position: -0.7rem -38.4rem;
      }
    }
    @include gt-md {
      display: none;
    }
  }
}
