.banner {
  position: relative;
  height: 100vh;
  background: url("../images/home-bg.png") no-repeat center/cover;
  color: $white;
  display: grid;
  align-items: center;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 51, 102);
    background: linear-gradient(90deg, rgba(0, 51, 102, 1) 0%, rgba(0, 51, 102, 0) 100%),
      linear-gradient(90deg, rgba(9, 9, 121, 0) 86%, rgba(0, 51, 102, 1) 100%);
  }
  &__content {
    position: relative;
    max-width: 62.4rem;
    font-size: 2.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    @include gt-md {
      padding: 8.5rem;
    }
  }
  &__heading1 {
    font-family: $font-secondary;
    font-size: 4.8rem;
    line-height: 1;
  }
  &__heading2 {
    font-family: $font-alternate2;
    font-size: 7.8rem;
    line-height: 1;
    margin-bottom: 3rem;
    @include gt-md {
      font-size: 11.2rem;
    }
  }
  &__cta {
    position: absolute;
    bottom: 8rem;
    text-transform: uppercase;
    padding-left: 4rem;
    font-family: $font-alternate3;
    font-size: 1.6rem;
    left: 2rem;
    @include gt-md {
      left: 8.5rem;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-35%) scale(0.7);
      width: 2rem;
      height: 2rem;
      background: url("../images/sprite.svg") no-repeat -0.8rem -45.6rem;
    }
  }
}

.featured-story {
  padding-top: 7rem;
  padding-bottom: 4rem;
  @include gt-md {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  &__bg {
    background: url("../images/featured-story-bg.png") no-repeat center/cover;
    padding-top: 30rem;
    @include gt-md {
      padding-top: 0;
      padding-bottom: 30rem;
    }
  }
  &__content {
    background: $white;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    max-width: 34rem;
    @include gt-md {
      max-width: 42rem;
    }
  }
  &__bottom {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
  }
}

.financial-power {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    margin-top: 5rem;
    width: 27.5rem;
    height: 18.5rem;
    background: url("../images/mega-menu-bg.svg") no-repeat center/contain;
    bottom: -4rem;
    left: 0;
    z-index: 1;
    @include gt-md {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__content {
    position: relative;
    background: rgb(0, 51, 102);
    background: linear-gradient(90deg, rgba(0, 51, 102, 1) 29%, rgba(0, 102, 204, 1) 100%);
    color: #ffffff;
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 18rem;
    @include gt-md {
      padding: 6rem 18rem 6rem 22rem;
    }
  }
  &__table {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    border-top: 1px solid $secondary-alternate-light;
  }
  &__row {
    border-bottom: 1px solid $primary;
    height: 5rem;
    vertical-align: middle;
    &:last-child {
      border-bottom: none;
    }
  }
  &__col {
    height: 8rem;
    vertical-align: middle;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

.featured-products {
  &__card-wrap {
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 5rem;
    overflow-x: scroll;
    grid-gap: 2.5rem;
  }
}

.latest-news {
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 5rem;
  overflow-x: scroll;
  grid-gap: 3rem;
}

.explore-careers {
  padding-top: 25rem;
  padding-bottom: 25rem;
  background: url("../images/careers.png") no-repeat center/cover;
  color: $white;
  &__content {
    max-width: 42rem;
  }
}
