.text-uppercase {
  text-transform: uppercase;
}
.color-primary {
  color: $primary;
}

.font-small {
  font-size: 1.4rem;
}

.font-regular {
  font-size: 1.6rem;
}

.font-medium {
  font-size: 2rem;
}

.font-large {
  font-size: 2.2rem;
}

.font-xl {
  font-size: 2.4rem;
}
