$primary: #0066cc;
$primary-dark: #003366;
$primary-light: #009ce5;

$secondary: #bc2b86;
$secondary-dark: #70226b;
$secondary-light: #e83278;

$primary-alternate: #f8ac3a;
$primary-alternate-dark: #f39200;
$primary-alternate-light: #fdc300;

$secondary-alternate: #00a13a;
$secondary-alternate-light: #afca0b;

$gray: #4a4948;
$gray-light: #706f6f;

$disabled: #e5e5e5;

$white: #ffffff;
$black: #000000;

$error: #cd0029;

$gray-tint: #f0f0f0;
$primary-tint: #f7fcfe;
$primary-tint-dark: #f5f9fd;
$secondary-tint: #f9f4f9;
$secondary-tint-light: #fef5f8;
$secondary-alternate-tint: #f3faf5;

$font-primary: "Avenir-Book";
$font-secondary: "Avenir-Medium";
$font-alternate: "Avenir-Roman";
$font-alternate2: "Avenir-Heavy";
