$primary: #0066cc;
$primary-dark: #003366;
$primary-light: #009ce5;

$secondary: #bc2b86;
$secondary-light: #e83278;

$primary-alternate: #f8ac3a;
$primary-alternate-dark: #f39200;
$primary-alternate-light: #fdc300;

$secondary-alternate: #00a13a;
$secondary-alternate-light: #afca0b;

$gray: #4a4948;
$gray-light: #706f6f;
$gray-disbaled: #c1c1c1;
$white: #ffffff;
$black: #000000;

// $primary-tint: #f0f0f0;
// $primary-tint: #f7fcfe;
// $primary-tint: #f5f9fd;
// $primary-tint: #f3faf5;
// $primary-tint: #f9f4f9;
// $primary-tint: #fef5f8;
