@font-face {
  font-family: "Avenir-Book";
  src: url("./AvenirLTStd-Book.woff2") format("woff2"), url("./AvenirLTStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("./Avenir-Medium.woff2") format("woff2"), url("./Avenir-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
