@import "colors";
@import "media";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

.heading-large {
  font-size: 4.8rem;
  @include gt-sm {
    font-size: 8rem;
  }
}

.heading-small {
  font-size: 4.2rem;
  @include gt-sm {
    font-size: 6.4rem;
  }
}

.body-xl {
  font-size: 2.2rem;
  @include gt-sm {
    font-size: 2.4rem;
  }
}

.body-large {
  font-size: 1.8rem;
  @include gt-sm {
    font-size: 2.1rem;
  }
}

.body-medium {
  font-size: 1.6rem;
  @include gt-sm {
    font-size: 1.8rem;
  }
}

.body-regular {
  font-size: 1.4rem;
  @include gt-sm {
    font-size: 1.6rem;
  }
}

.body-small {
  font-size: 1.2rem;
  @include gt-sm {
    font-size: 1.4rem;
  }
}

h1 {
  font-size: 3.2rem;
  @include gt-sm {
    font-size: 4.8rem;
  }
}
h2 {
  font-size: 3rem;
  @include gt-sm {
    font-size: 3.6rem;
  }
}
h3 {
  font-size: 2.8rem;
  @include gt-sm {
    font-size: 3.2rem;
  }
}
h4 {
  font-size: 1.8rem;
  @include gt-sm {
    font-size: 2.4rem;
  }
}

.typescale-heading {
  background-color: $primary-dark;
  color: $white;
  padding: 2rem;
}
